/**
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Rubik", serif;
}

body::-webkit-scrollbar {
    width: 5px;
    background-color: #428747;
}

body::-webkit-scrollbar-thumb {
    background-color: #204524;
    outline: 1px solid #204524;
}
