{
    "extends": [
        "airbnb",
        "airbnb/hooks",
        "airbnb-typescript",
        "plugin:@typescript-eslint/recommended",
        "prettier",
        "plugin:prettier/recommended",
        "plugin:react-native/all",
        "plugin:react-native-a11y/all"
    ],
    "plugins": ["@typescript-eslint", "react", "react-native", "prettier", "simple-import-sort"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": { "jsx": true },
        "ecmaVersion": 2018,
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "rules": {
        "react/prop-types": "off",
        "import/prefer-default-export": "off",
        "react-hooks/exhaustive-deps": "off",
        "react/jsx-props-no-spreading": "off",
        "react/require-default-props": "off",
        "no-promise-executor-return": "off",
        "import/no-default-export": ["error"],
        "@typescript-eslint/no-unused-vars": ["error"],
        "@typescript-eslint/no-shadow": ["error"],
        "import/extensions": ["error", "never"],
        "prettier/prettier": ["error", { "tabWidth": 4, "printWidth": 120 }],
        "react/jsx-filename-extension": ["error", { "extensions": [".ts", ".tsx"] }],
        "max-lines": ["error", 300],
        "react/function-component-definition": [
            "error",
            {
                "namedComponents": "arrow-function",
                "unnamedComponents": "arrow-function"
            }
        ],
        "simple-import-sort/imports": [
            "error",
            {
                "groups": [
                    // React and other packages come first
                    ["^react", "^@react?\\w", "^"],
                    // Internal packages, and relative paths
                    ["^(@src)(/.*|$)", "^\\."],
                    // Side effect imports.
                    ["^\\u0000"]
                ]
            }
        ]
    }
}
